<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About me </title>
</head>
<body>
<a href={% url 'home' %}>Home</a>
    <h2> this is page about me</h2>
    {{ about }}


<h2>ANWAR KHAN </h2>

<pre>
Address: GHUNDI JAMRUD KHYBER AGENCY.
Email: anwarkhanafridi792@gmail.com
Cell +92-3479133002
  OBJECTIVE
</pre>
<p>To seek a career position in a progressive organization which should be challenging and demanding where I can practice my repertoire and learnt new skills.
</p>
<blockquote> PERSONAL INFORMATION</blockquote>

</body>
</html>